/* rose quartz F7CAC9, F2DDDE
serenity blue 92A8D1, 89ABE3
*/

/*background-color: #10206B;*/

/* 1. MAIN SITE AND HOME PAGE VIEW */

body {background-image: url("/assets/black-dreams-in-blue-website-background.jpg"); color: #92A8D1; width: 1280; margin: 0 auto; font-family: "Oxygen", sans serif;}

#container {display: inline-block;}

#headerVideo {width: 1280px; height: 720px; display: block; clear:both;}




/* 2. NAV MENU */

#navMenu {width: 1280px; height: 30px; display: block;}

#headerNav h1 {margin: 0; padding: 0; padding-top: 0; margin-left: 5px; display: inline-block; width: 100px; float: left;}

#navMenu ul {list-style-type: none; float: right; margin-right: 100px; padding-top: 0; text-decoration: none}

#navMenu li {font-size: 20px; list-style-type: none; float: left; width: 130px; margin-right: 5px; text-align: center; padding-top: 0; text-decoration: none}

#navMenu li a:link {font-size: 20px; text-decoration: none; color: #25AAA0; font-style: bold;}

#navMenu li a:hover {font-size: 20px; text-decoration: none; color: #41D4CF; font-style: bold;}

#navMenu li a:active {font-size: 20px; text-decoration: none; color: #D3D3D3; font-style: bold;}

#navMenu li a:visited {font-size: 20px; text-decoration: none; color: #D3D3D3; font-style: bold;}



/* 3. MENU VIEW PAGE */

#menuViewDiv {width: 1280px; height: 1400px; display: block; color: black; list-style-type: none; margin-top: 30px; background-color: #D3D3D3; background-repeat: repeat;}

#thumbs ul {width: 700px; float:right; list-style-type: none;}

#thumbs li {list-style-type: none; float: left; margin-right: 10px; padding: 0;}

#thumbOne {width: 400px; height: 200px; float: left; list-style-type: none; padding: 0; margin: 0; margin-top: 10px;}

#thumbOne img {width: 350px; height: 194px; border-radius: 5%; border: 2px solid black;}

#thumbTwo {width: 600px; height: 200px; float: left; list-style-type: none; padding: 0; margin: 0; margin-top: 10px; vertical-align: center;}

#thumbView {list-style-type: none;}



/* 4. DOCUMENTATION PAGE */

#documentationDiv {width: 1150px; height: 900px; display: block; padding-left: 40px; margin-top:30px; margin-right: 30px; color: black; background-color: #D3D3D3; background-repeat: repeat; padding-top: 10px; padding-left: 10px;}

.docuInfo {width: 1000px; padding-left: 20px;

}