/* rose quartz F7CAC9, F2DDDE
serenity blue 92A8D1, 89ABE3
*/

/*background-color: #10206B;*/
/*background-image: url("/assets/black-dreams-in-blue-website-background.jpg"*/

/* 1. MAIN SITE AND HOME PAGE VIEW */

body {background-color: #ededed; color: #000000; width: 900px; margin: 0 auto; padding: 0; font-family: "Helvetica", sans serif;}

#container {display: inline-block;}

#headerVideo video {width: 900px; height: 506px; display: block; clear:both; margin: 0 auto; padding: 0; padding-top: 5px; padding-bottom: 0px;}

#tagLine {height: 10px; color: black; font-style: italic;  margin: 0; padding: 0; display: inline-block; clear:both; font-family: 'Francois One', sans-serif;}

#tagLine p {font-size: 14px; margin-top: 17px;}



/* 2. NAV MENU */

#navMenu {width: 900px; height: 25px; display: inline-block;}

#headerShiny h1 {font-family: 'Francois One', sans-serif; font-style: bolder; margin: 0; padding: 0; padding-top: 0; margin-left: 5px; margin-bottom: 1px; display: block; width: 100px; height: 15px; float: left; color:  #334185;}

#headerShiny img {width: 40px; width: 40px; display: inline-block; padding: 0; margin: 0; float: left;}

#navMenu ul {font-family: 'Francois One', sans-serif; list-style-type: none; float: right; margin-right: 5px; padding-top: 0px; text-decoration: none}

#navMenu li {font-size: 16px; list-style-type: none; float: left; width:90px; text-align: center; padding-top: 0; text-decoration: none; border: 1px solid black; border-radius: 10px; padding: 5px 10px; color: #334185; background: #cccccc;
    background: -moz-linear-gradient( top, #999999, #cccccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#cccccc));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc)";}

#navMenu li a:link {font-size: 16px; font-weight: bold; text-decoration: none; color: #000000;}

#navMenu li a:hover {color: #ffffff;}

#navMenu li a:active {font-size: 16px; font-weight: bold; text-decoration: none; color: #ffffff;}

#navMenu li a:visited {font-size: 16px; font-weight: bold; text-decoration: none; color: #334185;}




/* 3. MENU VIEW PAGE */

#menuViewDiv {width: 900px; height: 2400px; display: block; color: black; list-style-type: none; background-color: #dbdbdb; background-repeat: repeat;}

#thumbs ul {width: 700px; float:right; list-style-type: none;}

#thumbs li {list-style-type: none; float: left; margin-right: 10px; padding: 0; }

#thumbOne {width: 90px; height: 85px; float: left; list-style-type: none; padding: 0; margin: 0; margin-top: 10px; }

#thumbOne img {width: 80px; height: 80px; border-radius: 5%; border-top-left-radius: 30%; border: 2px solid black;}

#thumbOne img:hover {border: 4px solid white;}

#thumbTwo {width: 660px; height: 85px; float: left; list-style-type: none; padding: 0; margin: 0; margin-top: 10px; vertical-align: center; margin-right: 10px; margin-left: 10px; font-size: 12px;}

#thumbView {list-style-type: none;}

#thumbTwo h4 {margin-top: 0; margin-bottom: 0; padding: 0;}

#line-separator {height:3px; border-bottom:1px solid #0000000; width: 800px; display: inline-block; margin-bottom: 0;}

#catHeading {width: 200px; margin-left: 10px; display: inline-block; padding-bottom: 0; padding-top: 0; margin-top: 0; margin-bottom: 0;}

#instructions {margin-top: 10px; padding-top: 10px; margin-left: 10px; width: 880px; font-size: 13px; padding-bottom: 0; margin-bottom: 0;}





/* 4. LIBRARY PAGE */

#documentationDiv {width: 890px; height: 500px; display: block; padding-left: 40px; margin-right: 30px; color: black; background-color: #dbdbdb; background-repeat: repeat; padding-top: 10px; padding-left: 10px; font-size: 12px;}

#documentationDiv h1 {font-family: 'Francois One', sans-serif;}

.docuInfo {width: 840px; padding-left: 20px;}



/* 4A. LIBRARY PAGE ACCORDION MENU */

.verticalAccordion {
	font-size: 14px;
	padding: 0;
}

.verticalAccordion>ul {
    margin: 0;
    list-style:none;
   	width: 880px;
   	padding: 0;
   	font-size: 14px;
}

.libraryText {
	font-size: 16px;
}

.libraryText img {
	width: 50px;
	height: 50px;
	text-align: right;
	font-family: "Helvetica", sans-serif;
}

.rightImg {
	text-align: right;
}

.verticalAccordion>ul>li {
    display:block;
	overflow: hidden;
    margin: 0;
    padding: 0;
    list-style:none;
	height:40px;
	width: 880px;
    background-color:#f0f0f0;
    transition: height 1.2s ease;
    -moz-transition: height 1.2s ease;
    -webkit-transition: height 1.2s ease;
    -o-transition: height 1.2s ease;
}

.verticalAccordion>ul>li>h3 {
    display:block;
    margin: 0;
    padding:10px;
    height:19px;
    border-top:#f0f0f0 1px solid;
    font-family: 'Francois One', sans-serif;
    text-decoration:none;
    color: #000000;
    background: #cccccc;
    background: -moz-linear-gradient( top, #999999, #cccccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#cccccc));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc)"; 
}

.verticalAccordion>ul>li>div {
    margin:0;
    overflow: auto;
    padding:10px;
    height:1000px;
}

.verticalAccordion>ul>li.active {
	height: 190px;
	font-size: 14px;
}

.verticalAccordion:hover>ul>li.active>h3 {
    color:#fff; background: #000000;
    background: -moz-linear-gradient( top, #454545, #000000);
    background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000)); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000)";  
}

.verticalAccordion>ul>li>h3:hover {
    cursor:pointer;
}





/* 5. FOOTER */


#theFooter {width: 900px; height: 40px; display: inline-block; color: white; list-style-type: none; background-color: black; font-size: 11px; border-top: 2px solid #EDEDED;}

#theFooter p {margin-left: 10px; display: inline-block;}

#theFooter p a:link {font-size: 12px; text-decoration: none; color: white;}

#theFooter p a:hover {font-size: 12px; text-decoration: none; color: #ededed; font-style: bold;}

#theFooter p a:active {font-size: 12px; text-decoration: none; color: white;}

#theFooter p a:visited {font-size: 12px; text-decoration: none; color: white;}

#theFooter ul {list-style-type: none; float: right; margin-right: 5px; padding-top: 0; text-decoration: none}

#theFooter li {font-size: 12px; list-style-type: none; float: left; width: 90px; text-align: center; padding-top: 0; text-decoration: none}

#theFooter li a:link {font-size: 12px; text-decoration: none; color: white;}

#theFooter li a:hover {font-size: 12px; text-decoration: none; color: #ededed; font-style: bold;}

#theFooter li a:active {font-size: 12px; text-decoration: none; color: white;}

#theFooter li a:visited {font-size: 12px; text-decoration: none; color: white;}

#code ul {list-style-type: none;}

#code ul {list-style-type: none;}
