/* rose quartz F7CAC9, F2DDDE
serenity blue 92A8D1, 89ABE3
*/

/*background-color: #10206B;*/
/*background-image: url("/assets/black-dreams-in-blue-website-background.jpg"*/

/* 1. MAIN SITE AND HOME PAGE VIEW */

body {background-color: #ededed; color: #92A8D1; width: 900px; margin: 0 auto; padding: 0; font-family: "Helvetica", sans serif;}

#container {display: inline-block;}

#headerVideo video {width: 900px; height: 506px; display: block; clear:both; margin: 0 auto; padding: 0;}

#tagLine {color: black; font-style: italic;}


/* 2. NAV MENU */

#navMenu {width: 900px; height: 15px; display: block;}

#headerShiny h1 {font-family: "Cabin", sans-serif; font-style: bold; margin: 0; padding: 0; padding-top: 0; margin-left: 5px; margin-bottom: 1px; display: inline-block; width: 100px; height: 15px; float: left; color:  #334185;}

#headerShiny img {width: 40px; width: 40px; display: inline-block; padding: 0; margin: 0; float: left;}

#navMenu ul {list-style-type: none; float: right; margin-right: 5px; padding-top: 0; text-decoration: none}

#navMenu li {font-size: 12px; list-style-type: none; float: left; width: 90px; text-align: center; padding-top: 0; text-decoration: none}

#navMenu li a:link {font-size: 16px; text-decoration: none; color: #000000;}

#navMenu li a:hover {font-size: 16px; text-decoration: none; color: #0000e5; font-style: bold;}

#navMenu li a:active {font-size: 16px; text-decoration: none; color: #000000;}

#navMenu li a:visited {font-size: 16px; text-decoration: none; color: #000000;}



/* 3. MENU VIEW PAGE */

#menuViewDiv {width: 900px; height: 2400px; display: block; color: black; list-style-type: none; margin-top: 30px; background-color: #dbdbdb; background-repeat: repeat;}

#thumbs ul {width: 700px; float:right; list-style-type: none;}

#thumbs li {list-style-type: none; float: left; margin-right: 10px; padding: 0; }

#thumbOne {width: 110px; height: 105px; float: left; list-style-type: none; padding: 0; margin: 0; margin-top: 10px; }

#thumbOne img {width: 100px; height: 100px; border-radius: 5%; border-top-left-radius: 30%; border: 2px solid black;}

#thumbTwo {width: 660px; height: 105px; float: left; list-style-type: none; padding: 0; margin: 0; margin-top: 10px; vertical-align: center; margin-right: 10px; margin-left: 10px; font-size: 12px;}

#thumbView {list-style-type: none;}

#thumbTwo h4 {margin-top: 0; margin-bottom: 0; padding: 0;}

#line-separator {height:3px; border-bottom:1px solid #0000000; width: 800px; display: inline-block; margin-bottom: 0;}

#catHeading {width: 200px; margin-left: 10px; display: inline-block; padding-bottom: 0; padding-top: 0; margin-top: 0; margin-bottom: 0;}

#instructions {margin-top: 10px; padding-top: 10px; margin-left: 10px; width: 880px; font-size: 13px; padding-bottom: 0; margin-bottom: 0;}





/* 4. DOCUMENTATION PAGE */

#documentationDiv {width: 900px; height: 900px; display: block; padding-left: 40px; margin-top:30px; margin-right: 30px; color: black; background-color: #dbdbdb; background-repeat: repeat; padding-top: 10px; padding-left: 10px;}

.docuInfo {width: 900px; padding-left: 20px;}




/* 5. FOOTER */


#theFooter {width: 900px; height: 30px; display: inline-block; color: white; list-style-type: none; background-color: black; font-size: 11px;}

#theFooter p {margin-left: 10px; display: inline-block;}

#theFooter p a:link {font-size: 11px; text-decoration: none; color: white;}

#theFooter p a:hover {font-size: 11px; text-decoration: none; color: #ededed; font-style: bold;}

#theFooter p a:active {font-size: 11px; text-decoration: none; color: white;}

#theFooter p a:visited {font-size: 11px; text-decoration: none; color: white;}

#theFooter ul {list-style-type: none; float: right; margin-right: 5px; padding-top: 0; text-decoration: none}

#theFooter li {font-size: 11px; list-style-type: none; float: left; width: 90px; text-align: center; padding-top: 0; text-decoration: none}

#theFooter li a:link {font-size: 11px; text-decoration: none; color: white;}

#theFooter li a:hover {font-size: 11px; text-decoration: none; color: #ededed; font-style: bold;}

#theFooter li a:active {font-size: 11px; text-decoration: none; color: white;}

#theFooter li a:visited {font-size: 11px; text-decoration: none; color: white;}
