/* rose quartz F7CAC9, F2DDDE
serenity blue 92A8D1, 89ABE3
*/

/* 1. CSS FOR MAIN SITE AND HOME PAGE VIEW */

body {background-color: white; color: #0453ac; width: 1280; margin: 0 auto;}

#container {display: block;}

#headerVideo {width: 1280px; height: 500px; display: block;}

#videoTitle h1 {color: white; z-index: -100; font-size: 50px; text-align: center; position: absolute; margin-top: 200px;}


/* 2. CSS FOR NAV MENU */

#navMenu {width: 1280px; height: 20px;}

#headerNav h1 {margin: 0; padding: 0; margin-left: 10px; display: inline-block; width: 100px; float: left;}

#navMenu ul {list-style-type: none; float: right; margin-right: 10px;}

#navMenu li {list-style-type: none; float: left; margin-right: 20px; text-align: center;}
