/* VIDEO PLAYER STYLING */

#videoPlayer {width: 550px; height: 375px; margin: 0; padding: 0; margin-top: 40px; float:left; display: inline-block; vertical-align: top; margin-left: 10px;}

#theVideoPlayer {width: 550px; height: 375px;}


/* SCROLLING COMMENTS STYLING */

#scrollingCommentsDiv {width: 400px; height: 345px; margin-top: 55px; margin-left: 10px; float: left; background-color: blue; display: inline-block;}

#scrollingCommentsDiv li {list-style-type: none;}



/* ADD COMMENT STYLING */

#addCommentsDiv input {width: 1000px; height: 50px; margin: 0; margin-top:10px; padding: 0;  background-color: red; display: inline-block; margin-left: 10px; }



/* GRAPH STYLING */

#graphDiv {width: 400px; height: 300px; background-color: pink; margin: 0; margin-top: 10px; margin-left: 10px; padding: 0; display: inline-block; }

