/* VIDEO PLAYER STYLING */

#videoPlayer {width: 600px; margin-left: 20px; margin-top: 50px;}

#theVideoPlayer {width: 600px; margin: 0 auto;}

#blankVideo {}



/* GRAPH STYLING */

#graphDiv {width: 400px; height: 300px;}