/* VIDEO PLAYER STYLING */

#videoPlayer {height: 320px; margin: 0; padding: 0; display: inline-block; vertical-align: top; margin-left: 10px;}

#theVideoPlayer {width: 450px; height: 341px; display: inline-block; margin-top:10px; margin-left: 10px;}

#playerVideo {width: 450px; height: 341px; display: inline-block; }

#videoPage {background-color: #D3D3D3; background-repeat: repeat; width: 900px; height: 500px; margin-top: 10px; }
/*#menuViewDiv {width: 1280px; height: 1400px; display: block; color: black; list-style-type: none; margin-top: 30px; background-color: #D3D3D3; background-repeat: repeat;}
*/



/* SCROLLING COMMENTS STYLING */

#scrollingCommentsDiv {width: 375px; height: 332px; overflow-x: hidden; overflow-y: scroll; margin-top: -25px; margin-left: 20px; float: left; background-color: white; display: inline-block; color: #D3D3D3; border: 3px double black; font-size: 11px;padding: 0;}

#scrollingCommentsDiv li {list-style-type: none; padding: 0; margin: 0; font-size: 12px;}

#scrollingCommentsDiv ul {padding: 0; margin: 0; margin-left: 7px; margin-top: 7px;}

.current-comment {background: #ededed; padding: 0;}

.current-comment span {background: #ededed; font-weight: bold; color: #334185; font-size: 16px; padding: 0;}

.current-comment p {background: #ededed; font-weight: bold; color: #334185; font-size: 16px; padding: 0;}

#scrollDiv {width: 375px; height: 315px; float: left; display: inline-block; padding: 0;}




/* ADD COMMENT STYLING */

#addCommentsDiv {float:left; display: inline-block; }

#addCommentsDiv input[type=text] {color: #334185; width: 140px; height: 30px; margin: 0; margin-top:10px; padding: 0; padding-left: 5px; background-color: white; display: inline-block; color: black; vertical-align: text-top; line-height: none; border: 2px black solid; margin-right: 10px; font-size: 12px;}

#addCommentsDiv input[type=textarea] {color: #334185; width: 580px; height: 30px; margin: 0; margin-top:10px; padding: 0; padding-left: 5px; background-color: white; display: inline-block; color: black; vertical-align: text-top; line-height: none; border: 2px black solid; margin-right: 10px; font-size: 12px;}

#addCommentsDiv input[type=submit] {text-align: center; background-color: #334185; width: 75px; height: 34px; margin: 0; margin-top:10px; padding: 0; color: white; font-style: bold; display: inline-block; vertical-align: text-top; line-height: none; border: 2px black solid; border-radius: 10%; font-size: 13px;}

#addCommentsForm {float: left; }

#addDiv {width: 860px; height: 80px; margin-left: 12px;margin-top: 17px;}


.left-pane, .right-pane{
	display: inline-block;
}


/* Print Button */

#printButton button {float: left; display: inline-block; padding: 0; margin: 0; margin-top: 5px; margin-right: 0px; margin-left: 20px; width: 100px; height: 25px; font-size: 12px; background-color: #334185; color: white; font-style: bold;}


